[Unit]
Description=Redis Image Viewer
Documentation=man:systemd.service(5)

Requires=network-online.target
Requires=network.target
Wants=graphics.target
After=network.target network-online.target systemd-udev-settle.service
After=sys-devices-virtual-dri-card0.device


[Service]
User=root
Type=simple
ExecStart=/usr/bin/redis_image_viewer --config /etc/redis-image-viewer/config.json
WorkingDirectory=/var/lib/redis-image-viewer
Restart=on-failure
RestartSec=5
StartLimitIntervalSec=200
StartLimitBurst=5
TimeoutStartSec=30

StandardOutput=journal
StandardError=journal
SyslogIdentifier=redis-image-viewer

Environment="SDL_VIDEODRIVER=kmsdrm"
Environment="LIBGL_ALWAYS_INDIRECT=0"

[Install]
WantedBy=graphics.target